.artistIcon {

  background: white;
  float: left;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.neutral {
  width: 200px;
  height: 200px;
  background-size: 200px;
}

.selected {
  width: 150px;
  height: 150px;
  background-size: 150px;
}

.unselected {
  width: 100px;
  height: 100px;
  background-size: 100px;
  -webkit-filter: greyscale(.7px);
  filter: greyscale(.7px);
}  

.artistList {
  width: 100%;
  height: 230px;
  overflow: auto;
}

.artistList :after {
  content: "";
  display: table;
  clear: both;
}

.addArtistButton {
  width: 50px; 
  height: 50px;  
  border-radius: 50%; 
  text-align: center; 
  background-color: rgb(21, 103, 109);
  color: white;
  font-size: 38px;
  font-weight: bold;
  float: left;
  cursor: pointer;
}